{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "<connection string for your Azure functions status logs (not for the raw data)",
    "OutputBlobStorageKey": "<storage key for the output data location>"
  }
}